version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - DB_URL=postgresql://db:5432/breathe_db
      - DB_USER=postgres
      - DB_PASSWORD=password

  db:
    image: postgis/postgis:15-3.3
    restart: always
    environment:
      POSTGRES_DB: breathe_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: